<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <application android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity android:name=".SurfaceActivity" android:exported="true" />
    </application>
</manifest>
